html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #E5E5E5;
}
.frontpage {
  background-repeat: no-repeat;
  position: absolute;
  height: 100px;
  width: 1000px;
  top: 35%;
  left: 50%;
  margin-left: -600px;
  margin-right: -500px;
  text-align: center;
}
.smileyface {
  background-image: url("mascot2.png");
  background-repeat: no-repeat;
  position: absolute;
  height: 500px;
  width: 1000px;
  top: 30%;
  left: 68%;
  text-align: center;
}
.smileyface:hover {
  background-image: url("mascot1.png");
}
h1 {
  text-align: center;
  font-size: 6rem;
  font-weight: 700;
  color: white;
  font-family: 'Playfair Display', serif;
}
h1:hover {
  color: red;
}
h1:
.laugh1 {
  visibility: hidden;
}
.frontpage2 {
  position: absolute;
  height: 100px;
  width: 1000px;
  top: 90%;
  left: 50%;
  margin-left: -500px;
  margin-right: -500px;
  text-align: center;
}
h2 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
  font-family: 'Helvetica', serif;
}
audio {
  visibility: hidden;
}
.video {

   /* z-index: 1; */

   width: 250px;
   /* height: 300px; */
   position: absolute;
   left: 50%;
   top: 50%;
   margin-left: -150px;
   margin-top: -150px;
}

/*
#svg {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#l {
  color: white;
}

a:hover #l{
  fill: black;
} */
